@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lustra';
  src: url('/Lustra/Lustra.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* ✅ Forziamo il tema dark sempre */
:root {
  --background: #000000;
  --foreground: #ededed;
  --primary-color: #8AAEAE;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply font-lustra;
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: var(--primary-color);
  color: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ✅ Forziamo sempre color-scheme dark anche per browser */
html {
  color-scheme: dark;
}
